<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>投稿写真</th>
      <th>タイトル/場所</th>
      <th>投稿者</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% postimages.each do |postimage| %>
      <tr>
        <td>
          <%= image_tag postimage.get_image(100, 100) %>
        </td>
        <td><%= link_to postimage.title,admin_postimage_path(postimage.id) %></td>
        <td><%= postimage.body %></td>
　　　　<td>
　　　　  <p><%= link_to "#{postimage.comments.count} コメント", admin_postimage_path(postimage.id) %></p>
　　　　</td>
      </tr>
    <% end %>
  </tbody>
</table>