@use '~bootstrap/scss/bootstrap';

.label-width {
  width: 250px;
}

//navbar
.navbar_image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
}

//abouts
.abouts_image {
  width: 600px;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.homes_image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width:480px) {
//homes
.homes_image {
  width: 250px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.abouts_image {
  width: 250px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #E6FFE9;
}

footer {
  margin-top: auto;
  padding: 10px 0;
  background: #89c7de;
  color: #fff;
  text-align: center;
}