
    <% users.each do |user| %>
          <div class="card mb-4" style="width: auto;">
            <%= link_to admin_user_path(user.id) do %>
              <%= image_tag user.get_profile_image(500, 450),
                      class: "img-resize, rounded mx-auto d-block w-100",
                      style: "max-height: 300px; object-fit: contain;" %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title text-center">投稿者:<%=link_to user.name,admin_user_path(user.id) %></h4>
              <h5 class="card-text text-center">説明:<%= user.introduction %></h5>
              <p class="card-text text-center">
                <% if user.is_deleted %>
                  <span class="text-muted">退会済み</span>
                <% else %>
                  <span class="text-success"><strong>有効</strong></span>
                <% end %>
              </p>
            </div>
          </div>
    <% end %>
