<div class="container w-75">
  <div class="margin-y">
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-6">
        <h2>投稿ユーザー</h2>
        <%= render 'admin/users/info', user: @user %>
      </div>
    </div>
      <h2>投稿一覧</h2>
      <%= render 'admin/postimages/index',postimages: @postimages %>
      <%= paginate @postimages, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
