<div class="container">
  <div class="margin-y">
    <h2>お気に入り一覧</h2>
    <% if @favorite_postimages.empty? %>
    <span>お気に入りはありません</span>
    <% else %>
      <%= render 'public/postimages/index', postimages: @favorite_postimages %>
    <% end %>
  </div>
</div>