<div class="container w-75">
  <div class="margin-y">
    <h2>フォローされているユーザー一覧</h2>
    <% if @users.empty? %>
    <span>ユーザーはいません</span>
    <% else%>
      <%= render 'public/users/index', users: @users %>
      <%= paginate @users, theme: 'twitter-bootstrap-4' %>
    <% end %>
  </div>
</div>