<div class="container">
  <div class="margin-y">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6 col-sm-12">
        <h2>投稿ユーザー</h2>
         <%= render 'info', user: @user %>
      </div>
    </div>
      <h2>投稿一覧</h2>
      <%if current_user.id == @user.id %>
        <%= render 'public/postimages/index',postimages: @postimages %>
      <% else %>
        <%= render 'public/postimages/index',postimages: @postimages_notactive %>
      <% end %>
        <%= paginate @postimages, theme: 'twitter-bootstrap-4' %>
  </div>
</div>