<footer>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto' style="height: 60px">
    	<span><i class="fa-sharp fa-regular fa-copyright"></i>CopyRight Gokinjo_Walker.inc</span>
    	</div>
    </div>
  </div>
</footer>